<!DOCTYPE html>
<html>

<body>
    <h1>Pyramid Slide</h1>

    <style>
        #pyramid {
            line-height: 0;
            font-size: 50px;
        }
        body {
            font-family: "Courier New", monospace;
            text-align: center;
      
        }
    </style>
<main>


            <form id="draw-form">
                    <input v-model="heightStr" type="range" id="height" oninput = "pyramidRows()" />

                     
                    </label>
                  
                </label>
                <br><br>
            </form>
            <select v-model="selected">
                <option v-for = "option in options" v-bind:value = "options.value" onchange = {{ selected }}>
                <option value="#">#</option>
                <option value="@">@</option>
                <option value="X">X</option>
                <option value="$">$</option>
                <option value=":)">:)</option>
              </select>
            <br><br>
<span> {{ selected }}</span>
            <div id="pyramid">
                <!--
                TODO 6: Add some Vue.js code right here.
                You'll want to use v-for="row in rows"
                and make a <p> for each one.
                -->
                <p v-for="row in rows" v-html="row" />
            </div>
        </div>
    </main>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
